@tailwind base;
@tailwind components;
@tailwind utilities;

.docbody {
  animation: gradient 5s ease infinite;
  background-color: #076678;
  color: #fbf1c7;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
