@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  animation: gradient 5s ease infinite;
  background: linear-gradient(-45deg, #2d388a, #007eac);
  background-size: 200% 200%;
  font-family: "Phudu", cursive;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
